---
import { Badge } from "studiocms:ui/components";

type Props = {
  badges?: (
    | {
        label: string;
        color: "primary" | "success" | "warning" | "danger" | "info" | "mono";
        url?: string;
      }
    | string
  )[];
  title?: string | { display: string; href: string } | undefined;
};

const { badges = [], title } = Astro.props;

const normalTitle = typeof title === "string";
const linkTitle = typeof title === "object" && title.display && title.href;
---

<div class="badge show-on-desktop">
  {
    badges.map((b) => {
      if (typeof b === "string") {
        return <Badge label={b} color="primary" variant="flat" />;
      }

      if (typeof b === "object" && b.label && b.color && !b.url) {
        return <Badge label={b.label} color={b.color} variant="flat" />;
      }

      if (typeof b === "object" && b.label && b.color && b.url) {
        return (
          <a
            href={b.url}
            referrerpolicy="origin"
            rel="noopener"
            target="_blank"
          >
            <Badge label={b.label} color={b.color} variant="flat" />
          </a>
        );
      }

      return null;
    })
  }
</div>

<blockquote class="full">
  <div class="push">
    {
      title !== undefined && (
        <>
          {normalTitle && <h3>{title}</h3>}
          {linkTitle && (
            <h3>
              <a
                href={title.href}
                referrerpolicy="origin"
                rel="noopener"
                target="_blank"
              >
                {title.display}
              </a>
            </h3>
          )}
        </>
      )
    }

    <p>
      <slot />
    </p>
  </div>
</blockquote>
